<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musica - Album</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/album.css">
</head>
<body>
    <div class="container">
        <div id="navigation-bar">
            <div class="nav-icon">
                <object data="/assets/icons/menu 1.svg" type="image/svg+xml"></object>
            </div>
            <div class="wrapper">
                <ul>
                    <li>
                        <span>
                            <object data="/assets/icons/Home.svg" type="image/svg+xml"></object>
                        </span>
                        <span>
                            Home
                        </span>
                    </li>
                    <li>
                        <span>
                            <object data="/assets/icons/music-library-2.svg" type="image/svg+xml"></object>
                        </span>
                        <span>
                            My collections
                        </span>
                    </li>
                    <li>
                        <span>
                            <object data="/assets/icons/radio.svg" type="image/svg+xml"></object>
                        </span>
                        <span>
                            Radio
                        </span>
                    </li>
                    <li>
                        <span>
                            <object data="/assets/icons/video-horizontal.svg" type="image/svg+xml"></object>
                        </span>
                        <span>
                            Music videos
                        </span>
                    </li>
                </ul>
                <ul>
                    <li>
                        <span>
                            <object data="/assets/icons/frame.svg" type="image/svg+xml"></object>
                        </span>
                        <span>
                            Profile
                        </span>
                    </li>
                    <li>
                        <span>
                            <object data="/assets/icons/Logout.svg" type="image/svg+xml"></object>
                        </span>
                        <span>
                            Log out
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <header id="site-header">
            <div class="logo">
                <object data="/assets/icons/logo.svg" type="image/svg+xml"></object>
            </div>
            <div class="search">
                <div class="search-icon">
                    <object data="/assets/icons/search.svg" type="image/svg+xml"></object>
                </div>
            </div>
        </header>
        <div id="page-wrapper">
            <section id="main">
                <div class="music">
                    <div class="img">
                        <img src="/assets/images/image3.png" alt="">
                    </div>
                    <div class="desc">
                        <span>
                            <h1>Tomorrow's tunes</h1>
                        </span>
                        <span class="text-md">64 songs ~ 16 hrs+</span>
                        <span class="text-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</span>
                    </div>
                    <div class="actions">
                        <div>
                            <span>
                                <object data="/assets/icons/play-all.svg" type="image/svg+xml"></object>
                            </span>
                            <span class="text-sm">
                                Play all
                            </span>
                        </div>
                        <div>
                            <span>
                                <object data="/assets/icons/music-square-add.svg" type="image/svg+xml"></object>
                            </span>
                            <span class="text-sm">
                                Add to collection
                            </span>
                        </div>
                        <div>
                            <span>
                                <object data="/assets/icons/Heart-filled-red.svg" type="image/svg+xml"></object>
                            </span>
                            <span class="text-sm">
                                Like
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>